header .navbar-nav .nav-link.active {
    color: #fff;
    background-color: #0d6efd;
}

main {
    height: 400px;
}

.jumbotron {
    height: 500px;
    text-align: center;
}

#pikachu {
    max-width: 100%;
}
